* {
    font-family: Actor;
}

body {
    background-color: #bbc5d9;
}

p {
    color: white;
    letter-spacing: 1px;
    font-size: x-large;
}

h2 {
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    margin-top: 50px;
}

.logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo img {
    width: 250px;
    height: auto;
}

.interlude {
    margin-bottom: 25px;
}

.base-container {
    /* padding-left: 17%;
    padding-right: 17%; */
    max-width: 1200px;
    margin: auto;
}

img.background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: auto;
    width: 30%;
}

img.arrow {
    position: absolute;
    bottom: 80px;
    right: 260px;
    height: auto;
    width: 250px;
}

.center-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 66%;
}

.multi-login {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.subtext {
    margin-top: -25px;
}

.login {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-right {
    margin-left: 150px;
}

/* .login-left {
    margin-right: 10px;
} */

.dashed-rounded-border {
    background-image: url("../images/dashed-rounded.png");
    background-repeat: no-repeat;
    background-position: right;
}

.credenziali-form {
    height: 200px;
}

.credenziali-form input:not([type="submit"]) {
    padding-top: 2px;
    padding-left: 25px;
    margin: 15px 15px 15px 0px;
    border-color: 2px green;
    border-radius: 75px;
    width: 75%;
    height: 55px;
    border: none;
    font-size: 30px;
}

.credenziali-form input::placeholder {
    vertical-align: middle;
    line-height: 30px;
    font-size: 30px;
    color: rgb(196, 196, 196);
}

.credenziali-form input[type="submit"] {
    font-size: 30px;
    margin-top: 15px;
    position: absolute;
    border-radius: 75px;
    width: 120px;
    height: 55px;
    border: none;
    background-color: white;
    color: rgb(0, 0, 0);
}

.login img {
    margin-top: 50px;
    width: 200px;
    height: auto;
}