* {
    font-family: Actor;
}

body {
    background-color: #bbc5d9;
    padding: 30px 70px;
}

p {
    letter-spacing: 2px;
    font-size: x-large;
}

h3 {
    font-size: 23px;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

header img {
    width: 200px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.active {
    text-decoration: underline !important;
    cursor: pointer;
}

.disable {
    color: grey;
    cursor: not-allowed;
    text-decoration: underline !important;
}

.base-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    background-color: blueviolet;
    border-radius: 20px;
    height: 100%;
}

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 20rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.ricerca{
    background: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }

form {
    position: relative;
    width: 80%;
    background: var(--color-brand);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto auto 50px auto;
  }
input, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
input[type="search"] {
    outline: 0; 
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: 20px;
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
button {
    display: none; 
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 20px;
  }
  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(80% - var(--btn-width));
    + button {
      display: block;
    }
  }
  label {
    position: absolute;
    clip: rect(20px, 20px, 20px, 20px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

.elettori-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    color: black;
}

.lelement {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    justify-content: space-around;
    font-size: 2rem;
    background-color: white;
    border-radius: 20px;
    margin: 5px auto;
}

.testo-element {
    display: flex;
    margin: auto;
}

.button-element {
    display: flex;
}

.button {
    display: flex;
    background-color: black;
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;   
}



