* {
    font-family: Actor;
    color: white;
}

body {
    background-color: #bbc5d9;
    padding: 30px 70px;
}

p {
    letter-spacing: 2px;
    font-size: x-large;
}

h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

header img {
    width: 200px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.link-selected {
    text-decoration: underline !important;
}

.base-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.seggi h3 {
    margin: auto;
    margin-bottom: 10px;
}

.base-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.seggi {
    display: flex;
    flex-direction: column;
    min-width: 250px;

    padding: 10px 20px;

    margin-right: 60px;
}

.seggio-base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.seggio-base span {
    font-size: large;
    color: black;
    vertical-align: middle;
}

.seggio-add {
    background-color: #d2dbed;
}

.seggio {
    background-color: #0c01d3;
}

.seggio > span {
    color: white;
}

.edit-scene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0c01d3;
    border-radius: 20px;
    margin-top: 20px;
    min-height: 450px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > label {
    margin-top: 20px;
    margin-bottom: 20px;
}

form input {
    margin-top: 8px;
    border: none;
}

form input:not([type="submit"],[type="radio"]) {
    color: black;
    height: 30px;
    width: 400px;
    border-radius: 30px;
    padding-left: 10px;
    font-size: 20px;
}

form input::placeholder {
    font-size: 20px;
    color: rgb(196, 196, 196);
}

.end-button {
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: #0c01d3;
}

.end-button span {
    font-size: large;
    color: white;
    vertical-align: middle;
}